@CHARSET "UTF-8";

table{	
	width: 800px;
	margin:0 auto;
	border: 1px solid black;
	border-collapse: collapse;	
}

td{
		border: 1px solid black;
		text-align: center;	
}

td:nth-child(1){
	
}